<a href="https://colab.research.google.com/github/skywalker0803r/flask_model_deploy_example/blob/master/build_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from sklearn.datasets import load_boston
import pandas as pd
from xgboost import XGBRegressor
import joblib
from sklearn.metrics import r2_score,mean_squared_error
import warnings;warnings.simplefilter('ignore')

# load data

In [2]:
data = load_boston()
X = pd.DataFrame(data.data,columns=data.feature_names)
y = pd.DataFrame(data.target,columns=['price'])
df = X.join(y)
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

# split data

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(404, 13) (404, 1)
(102, 13) (102, 1)

# define model

In [0]:
model = XGBRegressor(objective='reg:squarederror')

# fit

In [5]:
model.fit(X_train,y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

# predict

In [6]:
y_pred = model.predict(X_test)
y_pred = pd.DataFrame(y_pred,columns=y_test.columns)
y_pred.head()

       price
0  23.691797
1  31.711241
2  16.610657
3  23.944933
4  16.949919

# evaluate

In [7]:
print(r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))

0.9009088645475026
7.2667278403836315

# save model

In [9]:
joblib.dump(model,'./model.pkl')

['./model.pkl']